#AboutFundSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AboutFundSection #cover_photo {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

#AboutFundSection #donate_box {
  width: 380px;
  height: 500px;
  padding: 0px 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  border-top: 1px solid #d1d1d1;
  padding-top: 10px;
  -webkit-box-shadow: 9px 11px 15px 0px rgba(107,107,107,0.39);
  -moz-box-shadow: 9px 11px 15px 0px rgba(107,107,107,0.39);
  box-shadow: 9px 11px 15px 0px rgba(107,107,107,0.39);
}

#AboutFundSection #donate_box #user_stats_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}


#AboutFundSection #tags_container {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

#AboutFundSection #tags_container #tag {
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 5px;
}


#AboutFundSection #fund_owner_container {
  display: flex;
}

#AboutFundSection #fund_owner_container #fund_owner_picture {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin: 0px 10px;
}

#AboutFundSection #about_fund_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-right: 20px;
}
